/* Overall settings */
html {
    margin:    0 auto;
    max-width: 1280px;
}

:root {
    --background: #252525;
    --theme1: #AF6B50;
    --theme2: #65AF50;
    --theme3: #5094AF;
    --theme4: #9A50AF;

    --bs-link-color:  var(--theme2);
    --bs-nav-link-hover-color: var(--theme3);
    --bs-btn-bg: var(--theme2)
}
.nav-pills {
    --bs-nav-pills-link-active-bg: var(--theme2);
}

body {
    background: var(--background);
}

.btn-default {
    background-color: var(--theme2);
    color: white;
}

/* The folowing two fix bugs in DT rendering */
.table>:not(caption)>*>* {
    background-color: transparent; /* see which row in a table is selected */
}

thead, tbody, tfoot, tr, td, th {
    border-bottom: 1px solid #dadada; /* row dividers */
}
