/* Overall settings */
html {
    margin:    0 auto;
    max-width: 1280px;
}

body {
    background: #252525;
    --botCol: #236ba6;
    --userCol: #A65E23;
}

/* The folowing two fix bugs in DT rendering */
.table>:not(caption)>*>* {
    background-color: transparent; /* see which row in a table is selected */
}

thead, tbody, tfoot, tr, td, th {
    border-bottom: 1px solid #dadada; /* row dividers */
}
